<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="MD.MongoGroup.Servers" value="mongodb://127.0.0.1:27017,172.17.30.103:27017/?readPreference=SecondaryPreferred&amp;w=majority;socketTimeout=10s"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>